    /* @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css); */
    .container {
      margin: 0 auto;
      padding: 5px 5px;
      width: 700px;
    }
    body {
      font-family: '-apple-system', 'BlinkMacSystemFont', "Segoe UI", "Roboto",'Noto Sans TC', "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
    .input {
      padding-left: 0.5rem;
      vertical-align: text-bottom;
      font-size: 1rem;
    }